.card-img {
    height: 400px;
    object-fit: cover; 
    width: 100%;
    } 

h5{
    border-left: 5px solid red;
}

section{display: flex;
margin: 20px;}

img{height: 200px;}

article{
    margin-right: 50px;
}

p{text-align: center;}

footer{background-color: black;display: flex;}
.com{padding: 20px; margin-right: 250px; font-size:large;}
h4{color: white;padding: 20px;margin-right: 250px;}
.icon{width: 50px;height: max-content;border-radius: 100px;}
.iconos{padding: 20px; }
a{margin-right: 30px;}
