.pros{
    background-color: rgb(117, 120, 120);
    margin: 80px;
    padding: 20px;
    width: 800px;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

ul{display: inline-flex;
margin: 20px;
padding: 20px;
text-align: center;
list-style-type: none;
width: 90%;
}

h1{border-bottom: 5px solid black ;
width: 300px;}
.noti{
    background-color: white;
    margin: 20px;
    border-radius: 20px;
}

p{
 text-align: center;
}
img{
   height: 150px;
}

.seg{margin: 20px;}

.ter{margin: 20px;
   
}

.ni{color: white;}
.nun{color: white;}
.no{border-radius: 20px;}

footer{color: white;
border-top: 5px solid black;
}
.ol{background-color: green;}
.bi{background-color: blue;}
.bo{background-color: red;}
.bu{background-color: aquamarine;}

a{color: white;}
li{font-size: xx-large;
}
a{text-decoration: none;}
.menu{padding-inline: 10px 10%;

}