li{list-style-type: none;}
a{text-decoration: none; color: white; font-size: x-large;margin: 0% 20px;}
.nave{background-color: black;}
ul{display: inline-flex;}

p{font-size: x-large;padding: 40px; margin: 0% 20px;}
    .put{float: right; margin: 5px; border-radius: 10px;}
    footer{border-top: 5px solid black;}

    nav {
        display: flex;
        justify-content: center; 
        background-color: black;
        padding: 10px;
    }
    
    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    nav li{
       margin: 0 40px;
    }

    form{padding: 10px;}

button{color: orange; width: 30%; padding: 10px; background-color: black;}

input,textarea{width: 90%; margin: 15px 0%; padding: 15px;}

label{font-size: x-large; font-family: 'Times New Roman';}

.con{padding: 10px; margin: 10px; width: 100%; }
.cont{width: 100%;}

.conta{display: block; margin:0% 20px;
     padding: 30px;background-color: rgb(197, 197, 197); 
    border-top-right-radius: 15px;
border-bottom-right-radius: 15px;}

h3{margin: 0% 20px; color: blue; font-size: xx-large}

*{font-family: 'Times New Roman', Times, serif;}
.omega{display: flex; padding: 30px; margin: 0% 130px; width: 15px;}
.top{border-top: 5px solid black;}

.user{border-top-left-radius: 10px; border-bottom-left-radius: 15px ;}