li{list-style-type: none;}
a{text-decoration: none; color: white; font-size: x-large;margin: 0% 20px;}
.nave{background-color: black;}
ul{display: inline-flex;}

p{font-size: x-large;
    padding: 10px;}
    .put{float: right; margin: 5px; border-radius: 10px;}
    footer{border-top: 5px solid black;}

    
    
            .me{text-decoration: none;
            text-align: center;
           color: black; font-size: 20px;}
           

        nav {
            display: flex;
            justify-content: center; 
            background-color: black;
            padding: 10px;
        }
        
        nav ul {
            display: inline-flex;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        nav li{
           margin: 0 40px;}

           img:hover{transform: scale(1.1);}

           .traba{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
             margin: 0% 65px;
            background-color: rgb(193, 192, 192);
        border-radius: 20px;}

           .one,.two,.four,.five,.seven,.eight,.ten{
            margin: 0% 8px;
             text-align: center;
            padding: 10px;}
             
            img{border-radius: 10px; margin: 0% 25px;}
            .img{width: 400px; }
            .img2{width: 190px;}
            .img3{width: 170px;}
            .img4{width: 330px;}
            .img5{width: 310px;}
            .img6{width: 300px;}
            .img7{width: 300px;}
            .img8{width: 300px;}
            .img9{width: 220px;}
            .img10{width: 300px;}
           
    .three{width: 250px;text-align: center;}
    .six{width: 300px; text-align: center;}
    .nine{width: 300px;text-align: center;}
    p{background-color: black; color: white; width: 90%; border-radius: 100px;}
    *{font-family: 'Times New Roman', Times, serif;}

    .foo{color: black; background-color: white;}
    .mien{width: 200px;}
    .trabas{background-color: rgb(193, 192, 192);}
