img{
   
    width: 200px;
}
body{
    overflow: scroll;
    background-color: brown;
}
h1{
    
    background-color: white;
    border-radius: 10px;
    width: 900px;
   
    
}
.father{
    display: flex;
    background-color: rgb(11, 198, 111);
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}

*{
 font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 20px; 
}
p{
   
    font-size: x-large;
    border-style:dotted;
    border: 3px solid black;
    text-align: center;
}
.polo{
    width: 400px;
    border:3px solid black;
}
.abri{
    width: 400px;
    border:3px solid black;
}
a{
   
}
.gua{
    border:3px solid black;
    
}
.zap{
    border:3px solid black;
}
.len{
    border:3px solid black;
}
.cho{
    border:3px solid black;
    
}
